<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">Welcome to the ToDo App!</p>
  <hr class="my-4">
  <p>Its built using Ruby on Rails 4.2 and Bootstrap 4.</p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>